.Button {
  width: 6rem;
  height: 2rem;
  font-size: 14px;
  border-radius: 20px;
  border-style: none;
  outline: 0;
  user-select: none;
}

.Red {
  background-color: #e54d27;
}
.Red:hover {
  background-color: #b22805;
}

.Green {
  background-color: #29d86f;
}
.Green:hover {
  background-color: #0fa84c;
}

.White {
  background-color: #ddd;
}
.White:hover {
  background-color: #aaa;
}

.DeleteButton {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  position: absolute;
  bottom: 4px;
  right: 4px;
  background-color: #e54d27;
  font-weight: 300;
}
.DeleteButton:hover {
  background-color: #b22805;
}

.Controls {
  margin: 1rem;
  text-align: center;
}

.AddButton {
  width: 5rem;
  height: 5rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 4rem;
  font-weight: 300;
  border-radius: 50%;
  border-style: none;
  background-color: #E2ECF5;
  outline: 0;
}
.AddButton:hover {
  background-color: #6E9ECF;
}

.SignOut {
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.Export {
  position: fixed;
  width: 5rem;
  height: 5rem;
  bottom: 10rem;
  right: 3rem;
  font-size: 4rem;
  font-weight: 300;
  border-radius: 50%;
  border-style: none;
  outline: 0;
}

@media (max-width: 700px) {
  .SignOut {
    bottom: 3rem;
    left: 3rem;
    top: auto;
    right: auto;
  }
}

@media (max-width: 425px) {
  .SignOut {
    width: 9rem;
    height: 3rem;
    border-radius: 40px;
    font-size: 20px;
  }
  .AddButton {
    width: 10rem;
    height: 10rem;
    font-size: 128px;
  }
  .Export {
    width: 10rem;
    height: 10rem;
    bottom: 14rem;
    font-size: 128px;
  }
}
