.add-event-controls {
  margin: 0 auto;
  text-align: center;
}

.add-event-controls select {
  margin: 0 0.2rem 0.8rem 0.2rem;
}

.add-event-controls label {
  display: block;
}

.add-event-controls input {
  display: block;
  margin: 0.3rem auto;
}

label.warning {
  font-size: 10px;
  color: #e54d27;
  margin: 0 0 1rem 0;
}
